<!DOCTYPE html>
<html>
  <head>
    <title>node-backend-starter</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
  </head>
  <body>
    <div id="content"></div>
    <script src="/static/js/bundle.js"></script>
    <script id="username-data" data-username="<%= username %>"></script>
    <script id="favorites-data" data-favorites="<%= favorites %>"></script>
  </body>
</html>